body{
    font-family: Arial;
    background-color: #282A3A;
}

.navbar{
    background-color: #404258;
    padding: 20px;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: grey;
    margin: 0px 10px 0px 10px;
}

.logout{
    float:right;
}
