.body{
  background-color: #282A3A;
}

#save:disabled , button:disabled{
  background-color: grey;
}

.container {
  border-radius: 5px;
  color: white;
  padding: 20px;
}


#error-text{
  font-size: 12px;
}
