

.container {
  border-radius: 5px;
  background-color: #282A3A;
  color: white;
  padding: 20px;
}

#error-message{
  color:grey;
  font-size: 12px;
}

.gender{
  display: flex;
  align-items: center;
}

input[type=radio]{
  height: 20px;
  margin: 0;
  padding: 0;
  width: 29%;
  margin-bottom: 20px;
}