

.page-container {
  color:white;
    margin: 30px auto ;
    width: 95%;
    background-color: rgba(252, 252, 252, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 35px 35px;
}

#error-message{
  color:grey;
  font-size: 16px;
}

.gender{
  display: flex;
  align-items: center;
}

input[type=radio]{
  height: 20px;
  padding: 0;
  width: 29%;
  margin: 0 0 20px;
}

input[type=submit]{
  width: auto;
  margin: 0 auto;
  display: block;
}