{% extends "base.html" %} {% block title %}Players{% endblock %}
{% block head %}
<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
{% endblock %}
{% block content%}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>

<div class="container">

    <form action="" class="details" method="post" name="edit-details" id="edit-details" enctype="multipart/form-data">
        <label for="profile-picture">Upload profile picture</label>
        <input type="file" name="picture" id="profile-picture" accept="image/png, image/jpeg" onchange="readUrl(this)">
        <img src="" alt="" id="profile-picture-display"><br>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{playerDetails['name']}}" onkeyup="nameCheck(this)" required>
        <span id="error-text"></span>
        <br>
        <label for="date-of-birth">Date of birth</label>
        <input id="date-of-birth" name="date-of-birth" type="date" value="{{playerDetails['date-of-birth']}}" required>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" value="{{playerDetails['email']}}" required>
        <label for="phone">Phone Number</label>
        <input id="phone" name="phone" type="number" value="{{playerDetails['contact-number']}}" required>
        <hr>
        <!--        Physical details-->
        <label for="height">Height(cm)</label>
        <input id="height" name="height" type="number" value="{{playerDetails['height']}}" required>
        <label for="weight">Weight(Kg)</label>
        <input id="weight" name="weight" type="number" required value="{{playerDetails['weight']}}">
        <label for="medical-conditions">Medical Conditions(Leave empty if none)</label>
        <input id="medical-conditions" name="medical-conditions" type="text" value=" ">
        <input id="save" name="save" type="submit" value="Save Details">
        <p class="error"></p>
    </form>
</div>
{% endblock %}