{% extends "base.html" %} {% block title %}Players{% endblock %}
{% block head %}
<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
{% endblock %}
{% block content%}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>

<div class="container">
    <button id="edit-profile" name="edit-profile">Edit Profile</button>
    <form action="" class="details" method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
        <label for="date-of-birth">Date of birth</label>
        <input id="date-of-birth" name="date-of-birth" type="date">
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
        <label for="phone">Phone Number</label>
        <input id="phone" name="phone" type="number">
        <hr>
        <!--        Physical details-->
        <label for="height">Height(cm)</label>
        <input id="height" name="height" type="number">
        <label for="weight">Weight(Kg)</label>
        <input id="weight" name="weight" type="number">
        <label for="medical-conditions">Medical Conditions(if any)</label>
        <input id="medical-conditions" name="medical-conditions" type="text">
        <input disabled id="save" name="save" type="submit" value="Save Details">
    </form>
</div>
{% endblock %}