{% extends "base.html" %} {% block title %}Players{% endblock %}
{% block head %}
<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
{% endblock %}
{% block content%}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>

<div class="container">
    <button id="edit-profile" name="edit-profile">Edit Profile</button>
    <form action="" class="details" method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
        <label for="date-of-birth">Date of birth</label>
        <input id="date-of-birth" name="date-of-birth" type="date">
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
        <label for="phone">Phone Number</label>
        <input id="phone" name="phone" type="number">
        <hr>
        <!--        Physical details-->
        <label for="height">Height(cm)</label>
        <input id="height" name="height" type="number">
        <label for="weight">Weight(Kg)</label>
        <input id="weight" name="weight" type="number">
        <label for="medical-conditions">Medical Conditions(if any)</label>
        <input id="medical-conditions" name="medical-conditions" type="text">
        <!--        Certificate Upload-->
        <label for="certificate">Certificate</label>
        <input id="certificate" name="certificate" type="file">
        <!--        Sport-->
        <label for="sport-select">Choose Your Sport: </label>

        <select id="sport-select" name="sport-select">
            <option value="football">Football</option>
            <option value="cricket">Cricket</option>
        </select>
        <hr>

        <div class="football">
            <h2>Football</h2>
            <label for="football-position">Select Your Position:</label>
            <select id="football-position" name="football-position">
                <option value="goalkeeper">Goalkeeper</option>
                <option value="defender">Defender</option>
                <option value="midfielder">Midfielder</option>
                <option value="forward">Forward</option>
            </select>
            <label for="strong-foot">Select Your Strong Foot:</label>
            <select id="strong-foot" name="strong-foot">

                <option value="left-foot">Left Foot</option>
                <option value="right-foot">Right Foot</option>
            </select>
        </div>
        <div class="cricket">
            <h2>Cricket</h2>
            <label for="role">Select Your Role</label>
            <select id="role" name="role">
                <option value="Batsman">Batsman</option>
                <option value="Batsman-and-Wicket-Keeper">Batsman and Wicket Keeper</option>
                <option value="Bowler">Bowler</option>
                <option value="All-Rounder">All Rounder</option>
            </select>
            <label for="style">Select Your Play Style</label>
            <select name="style" id="style">
                <option value="Right-Handed">Right Handed</option>
                <option value="Left-Handed">Left Handed</option>
            </select>
        </div>
        <input disabled id="save" name="save" type="submit" value="Save Details">
    </form>
</div>
{% endblock %}