{% extends "base.html" %}
{% block title %}Recruit{% endblock %}
{% block head %}
<link href="{{url_for('static', filename='css/recruit.css')}}" rel="stylesheet">
<!-- <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>  -->
{% endblock %}
{% block content %}
<div class="container">

    <div class="player">
        <table>
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Medical Conditions</th>
                <th>Sport</th>
            </thead>
            {% for item in player_details %}
            <tr>
                <td>{{item['name']}}</td>
                {% if item['date-of-birth'] == 'null' %}
                <td>{{item['date-of-birth']}}</td>
                {% else %}
                <td>{{calculateAge(item['date-of-birth'])}}</td>
                {% endif %}
                <td>{{item['height']}}cm</td>
                <td>{{item['weight']}}kg</td>
                <td>{{item['medical-conditions']}}</td>
                <td>{{item['sport']}}</td>
                <td class="button"><button class="goto-profile">See Profile</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}