{% extends "base.html" %}
{% block title %}SignUp{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
{% endblock %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}" defer></script>

<div class="container">
    <form action="" id='register' method="post" enctype="multipart/form-data">
        <label for="picture">Upload your profile picture</label>
        <input type="file" id="picture" name="picture" required accept="image/png, image/jpeg">
        <label for="club-or-player">Select Your Role</label>
        <select name="club-or-player" id="club-or-player">
            <option value="player" selected>Player</option>
            <option value="club">Club</option>
        </select>

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name">
        <label for="emailInput">Email</label>
        <input type="email" id="emailInput" name="email" placeholder="Enter E-mail">
        <div class="gender">
            <h4>Select your gender</h4>
            <label for="male-gender">Male</label>
            <input type="radio" name="gender" id="male-gender" required value="male">
            <label for="female-gender">Female</label>
            <input type="radio" name="gender" id="female-gender" value="female">
            <label for="other-gender">Other</label>
            <input type="radio" name="gender" id="other-gender" value="other">
        </div>

        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" name="password" onkeyup="check();" placeholder="Enter Password"
            required>
        <span id="error-message">Entering a character and a number is recommended</span><br>
        <label for="confirmPasswordInput">Confirm Password</label>
        <input type="password" id="confirmPasswordInput" name="confirmPassword" onkeyup="check();"
            placeholder="Re-Enter Password " required>
        <p class="error"></p>
        <label for="sport-select">Select Your Sport: </label>
        <select id="sport-select" name="sport-select">
            <option value="football">Football</option>
            <option value="cricket">Cricket</option>
        </select>
        <div class="select-sport-container">

            <div class="football">
                <h2>Football</h2>
                <label for="football-position">Select Your Position:</label>
                <select id="football-position" name="football-position">
                    <option value="goalkeeper">Goalkeeper</option>
                    <option value="defender">Defender</option>
                    <option value="midfielder">Midfielder</option>
                    <option value="forward">Forward</option>
                </select>
                <label for="strong-foot">Select Your Strong Foot:</label>
                <select id="strong-foot" name="strong-foot">

                    <option value="left-foot">Left Foot</option>
                    <option value="right-foot">Right Foot</option>
                </select>
            </div>
            <div class="cricket">
                <h2>Cricket</h2>
                <label for="role">Select Your Role</label>
                <select id="role" name="role">
                    <option value="Batsman">Batsman</option>
                    <option value="Batsman-and-Wicket-Keeper">Batsman and Wicket Keeper</option>
                    <option value="Bowler">Bowler</option>
                    <option value="All-Rounder">All Rounder</option>
                </select>
                <label for="style">Select Your Play Style</label>
                <select name="style" id="style">
                    <option value="Right-Handed">Right Handed</option>
                    <option value="Left-Handed">Left Handed</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Sign Up" id="submit" class="btn" disabled>
    </form>

</div>
{% endblock %}